<h3>Remplissez les champs suivants :</h3>

<div class="well">
    {{ form_start(Bookingform, {'attr': {'class': 'form-horizontal'}}) }}
    
        {{ form_errors(Bookingform) }}
  
        <div class="form-group">
            {{ form_label(Bookingform.booking_date, "Jour de la visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(Bookingform.booking_date) }}
            <div class="col-sm-10">
              {{ form_widget(Bookingform.booking_date, {'id': 'datepicker', 'format': 'datetime', 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
            
        <div class="form-group">
            {{ form_label(Bookingform.type, "Type de billet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(Bookingform.type) }}
            <div class="col-sm-10">
              {{ form_widget(Bookingform.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(Bookingform.tickets_number, "Nombre de Billet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(Bookingform.tickets_number) }}
            <div class="col-sm-10">
              {{ form_widget(Bookingform.tickets_number, {'id': 'tickets_number', 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_row(Bookingform.tickets) }}
        <a href="#" id="add_ticket" class="btn btn-default">Etape suivante</a>
  
    {{ form_end(Bookingform) }}
</div>

    {{ dump (app) }}
{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#oc_louvresbundle_booking_tickets');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_ticket').click(function(e) {
        var nbtickets = $('#tickets_number').val();
        //alert(nbtickets);
        for (i = 0; i < nbtickets; i++) { 
            addTicket($container);
        }

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // La fonction qui ajoute un formulaire CategoryType
    function addTicket($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Billet n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer le billet
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'un billet
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
</div>